
.activityForm {
    height: 100px;
    background-color: gray;
    width: 75%;
}

.backgroundColor {
     opacity: 0.2;
     filter: alpha(opacity=60);
    text-decoration-line: line-through;
}



body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    background-color: #4b3c8a;
}

.buildRoutineForm {
    width: 25%;
    height: 60px;
    margin-left: 700px

}

.button{
    margin: 10px
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

.loginForm {
    width: 25%;
    height: 200px;
    background-color: 'green';
}

form {
    background-color: #777777;
    width: 50%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: #00acb0;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #008183;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

.buildRoutine, .weeklyRoutine, .routineDatabase  {
    background-color: yellow;
    
}

.routineBtns {
    margin-left: 400px;
    
}

.routineHeader {
    margin-top: 30px;
    text-align: center;
}

.routineTitle {
    text-align: center;
    margin-bottom: 40px;
    font-size: 50px;
}

