
.activityForm {
    margin: 'auto';
    height: 150px;
    background-color: rgb(141, 138, 138);
    
    width: 100%;
}

.addRoutine {
    text-align: center;
    color: rgb(220,220,220)
}

.addRoutineSubmitBtn {
    display: inline-block;
    margin: 23px
}

.backgroundColor {
     opacity: 0.2;
     filter: alpha(opacity=60);
    text-decoration-line: line-through;
}



body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    background-color: rgba(0, 0, 0, 0.87)
}

.buildRoutineForm {
    width: 62%;
    height: 140px;
    margin-left: 270px;
    background-color: rgb(141, 138, 138);
}

.button{
    display: inline-block;
    margin: 55px;
    margin-left: 15px
}

.cancelBtn {
    display: inline-block;
    margin-left: 10px;
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

.label {
    color: 'white';
}

.loginForm {
    width: 25%;
    height: 10%;
    background-color: 'green';
    margin-left: 425px;

}

form {
    background-color: #777777;
    width: 50%;
    height: 250px;
    margin: 20px;
    padding-top: 1px;
    /* border-radius: 2px; */
}

.handleSubmitBtn {
    padding-top: 100px
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: #00acb0;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #008183;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:rgba(245, 245, 245, 0.788);
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

.buildRoutine, .weeklyRoutine, .routineDatabase  {
    background-color: yellow;
    
}

.routineBtns {
    margin-left: 400px;
    
}

.routineHeader {
    margin-top: 30px;
    text-align: center;
}

.routineTitle {
    text-align: center;
    margin-bottom: 40px;
    font-size: 50px;
}

